<app-layout>
  <mat-nav-list class="nav-list">
    <a mat-list-item>
      <div class="nav-item">
        <mat-icon (click)="toggleSidenav()">search</mat-icon>
        @if (!isCollapsed()) {
          <mat-form-field>
            <mat-label>Pesquisar</mat-label>
            <input #searchQueryInput [value]="searchQuery()" (input)="searchQuery.set(searchQueryInput.value)"
                   matInput placeholder="Ex. Relatório de vendas">
          </mat-form-field>
        }
      </div>
    </a>
    <a mat-list-item>
      <div class="nav-item">
        <mat-icon (click)="toggleSidenav()">home</mat-icon>
        @if (!isCollapsed()) {
            <mat-form-field>
              <mat-label>Departamento</mat-label>
              <mat-select multiple [value]="selectedDepartment()" (selectionChange)="selectedDepartment.set($event.value)">
                @for (dept of departments(); track dept.id) {
                  <mat-option [value]="dept.id">{{ dept.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
        }
      </div>
    </a>

    <a mat-list-item>
      <div class="nav-item">
        <mat-icon (click)="toggleSidenav()">label</mat-icon>
        @if (!isCollapsed()) {
          <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select multiple [value]="selectedTags()" (selectionChange)="selectedTags.set($event.value)">
              @for (tag of allTags(); track tag.id) {
                <mat-option [value]="tag.id">{{ tag.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      </div>
    </a>
    <a mat-list-item (click)="resetFilters()">
      <div class="nav-item">
        <mat-icon>refresh</mat-icon>
        @if (!isCollapsed()) {
          <span class="item-label">Limpar Filtros</span>
        }
      </div>
    </a>
  </mat-nav-list>

  <div class="content">
    <div class="bi-list-container">
      <h2>Últimas atualizações</h2>
      <div class="bi-filter-section">
        <div class="filter-controls">
          <form class="example-form">
            <button mat-raised-button color="warn" (click)="resetFilters()">Limpar Filtros</button>
          </form>
        </div>
      </div>

      @if (filteredItems().length > 0) {

        @for (post of filteredItems(); track post.id) {
          <app-bi-card [post]="post"></app-bi-card>
        }
      } @else {
        <div class="no-results">
          <p>Nenhum resultado encontrado para os filtros selecionados.</p>
        </div>
      }
    </div>
  </div>
</app-layout>
