<div class="app-container" [class.is-mobile]="isMobile()">
  <mat-toolbar class="toolbar">
    <div class="logo-container">
      <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="logo" ngSrc="assets/Logo_FGR_w1sl43.png" width="617" height="323" alt="Logo FGR"/>
      <div class="vertical-divider"></div>
      <p class="title">Radar BI</p>
    </div>
    <span class="spacer"></span>
    @if (false) {
      <button mat-flat-button aria-label="Sair">
        Sair
        <mat-icon>logout</mat-icon>
      </button>
    }
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav [class.collapsed]="isCollapsed()" [class.expanded]="!isCollapsed()"
                 [mode]="isMobile() ? 'over' : 'side'" [fixedInViewport]="isMobile()" fixedTopGap="56"
                 [opened]="isMobile() ? 'false' : 'true'">
      <mat-nav-list class="nav-list">
        @if (false) {
          <a mat-list-item>
            <div class="nav-item">
              <mat-icon>add</mat-icon>
              @if (!isCollapsed()) {
                <span class="item-label">Cadastrar BI</span>
              }
            </div>
          </a>
          <a mat-list-item>
            <div class="nav-item">
              <mat-icon>group</mat-icon>
              @if (!isCollapsed()) {
                <span>Usuários</span>
              }
            </div>
          </a>
        }
      </mat-nav-list>
        <ng-content select=".nav-list"/>

    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content select=".content"></ng-content>
      <footer class="app-footer">
        <div class="footer-content">
          <p>&copy; 2025 - FGR Incorporações Radar BI - Todos os direitos reservados</p>
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
