@use '../styles/_theme-colors.scss' as theme-colors;

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.logo-container {
  display: flex;
  align-items: center;

  .logo {
    height: 3.5em;
    width: auto;
  }

  .title {
    font-size: 1.5rem;
    margin: 0 0 0 10rem;
    color: #ffffff;
  }
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;

  .nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .collapsed {
    max-width: 12rem;
  }

  .expanded {
    width: 4rem;
  }
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
