@if (post(); as Post) {
  <mat-card appearance="outlined">
    <img mat-card-image [ngSrc]="Post.imageUrl" [width]="300" [height]="200" [priority]="true"
         alt="Photo of {{Post.title}}" class="responsive-image" (click)="openImageModal(Post.imageUrl, Post.title)">
    <div class="content-container">
      <mat-card-header>
        <mat-card-title>{{ Post.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ Post.description }}
        </p>
      </mat-card-content>

      <mat-chip-set aria-label="Fish selection">
        @for (tag of Post.tags; track tag.id) {
          <mat-chip>{{ tag.name }}</mat-chip>
        }
      </mat-chip-set>

      <mat-card-actions>
        <button mat-button aria-label="Acessar BI" (click)="openBiLink(Post.link)">Acessar BI</button>
      </mat-card-actions>
    </div>
  </mat-card>
  <br>
}

